
.flowline {
  fill: none;
  opacity: 0.7;
  stroke-width: 4;
  stroke-dasharray: 10, 4;
  animation: flow 0.3s linear infinite;
  -webkit-animation: flow 0.3s linear infinite;
}

@keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes flow {
  from {
    stroke-dashoffset: 14;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes oppositeFlow {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 14;
  }
}

@-webkit-keyframes oppositeFlow {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 14;
  }
}

@keyframes noFlow {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes noFlow {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}